In [31]:
#Imports
import pandas as pd
from sklearn.tree import DecisionTreeRegressor
from sklearn.metrics import mean_squared_error
import numpy as np

In [9]:
df = pd.read_csv("DataNExcels/df_microdt_linkedin.csv").set_index('Date')
df = df.drop(['Adj Close', 'change_direction'], axis=1)
df

,Open,High,Low,Close,Volume,percentual_change
Date,,,,,,
2016-12-08 00:00:00-05:00,61.299999,61.580002,60.840000,61.009998,21220800,1.549141
2016-12-09 00:00:00-05:00,61.180000,61.990002,61.130001,61.970001,27349400,0.321694
2016-12-12 00:00:00-05:00,61.820000,62.299999,61.720001,62.169998,20198100,1.286125
2016-12-13 00:00:00-05:00,62.500000,63.419998,62.240002,62.980000,35718900,-0.478620
2016-12-14 00:00:00-05:00,63.000000,63.450001,62.529999,62.680000,30352700,-0.159793
...,...,...,...,...,...,...
2024-01-12 00:00:00-05:00,385.489990,388.679993,384.649994,388.470001,21645700,0.461216
2024-01-16 00:00:00-05:00,393.660004,394.029999,387.619995,390.269989,27202300,-0.205404
2024-01-17 00:00:00-05:00,387.980011,390.109985,384.809998,389.470001,22234100,1.117118
2024-01-18 00:00:00-05:00,391.720001,393.989990,390.119995,393.869995,23392100,1.204008
2024-01-19 00:00:00-05:00,395.760010,398.670013,393.500000,398.670013,29272000,-0.544754

In [5]:
#How to use Walk Forward Validation
from sklearn.model_selection import TimeSeriesSplit

ts = TimeSeriesSplit(test_size=200)

In [14]:
splits = ts.split(X=df)
splits

In [16]:
#create list to append our split data
list_df_train = []
list_df_test = []

for index_train, index_test in ts.split(df):
    list_df_train.append(df.iloc[index_train])
    #print('Train', df.iloc[index_train])
    list_df_test.append(df.iloc[index_test])
    #print('Test', df.iloc[index_test])

In [17]:
list_df_train[0]

,Open,High,Low,Close,Volume,percentual_change
Date,,,,,,
2016-12-08 00:00:00-05:00,61.299999,61.580002,60.840000,61.009998,21220800,1.549141
2016-12-09 00:00:00-05:00,61.180000,61.990002,61.130001,61.970001,27349400,0.321694
2016-12-12 00:00:00-05:00,61.820000,62.299999,61.720001,62.169998,20198100,1.286125
2016-12-13 00:00:00-05:00,62.500000,63.419998,62.240002,62.980000,35718900,-0.478620
2016-12-14 00:00:00-05:00,63.000000,63.450001,62.529999,62.680000,30352700,-0.159793
...,...,...,...,...,...,...
2020-01-23 00:00:00-05:00,166.190002,166.800003,165.270004,166.720001,19680800,-1.017940
2020-01-24 00:00:00-05:00,167.509995,167.529999,164.449997,165.039993,24918100,-1.700761
2020-01-27 00:00:00-05:00,161.149994,163.380005,160.199997,162.279999,32078100,1.921919
2020-01-28 00:00:00-05:00,163.779999,165.759995,163.070007,165.460007,24899900,1.535341
2020-01-29 00:00:00-05:00,167.839996,168.750000,165.690002,168.039993,34754500,2.743376

In [18]:
list_df_train[1]

,Open,High,Low,Close,Volume,percentual_change
Date,,,,,,
2016-12-08 00:00:00-05:00,61.299999,61.580002,60.840000,61.009998,21220800,1.549141
2016-12-09 00:00:00-05:00,61.180000,61.990002,61.130001,61.970001,27349400,0.321694
2016-12-12 00:00:00-05:00,61.820000,62.299999,61.720001,62.169998,20198100,1.286125
2016-12-13 00:00:00-05:00,62.500000,63.419998,62.240002,62.980000,35718900,-0.478620
2016-12-14 00:00:00-05:00,63.000000,63.450001,62.529999,62.680000,30352700,-0.159793
...,...,...,...,...,...,...
2020-11-05 00:00:00-05:00,222.039993,224.119995,221.149994,223.289993,36080100,0.192208
2020-11-06 00:00:00-05:00,222.259995,224.360001,218.029999,223.720001,25231900,-2.440589
2020-11-09 00:00:00-05:00,224.440002,228.119995,217.880005,218.389999,44395000,-3.497467
2020-11-10 00:00:00-05:00,214.500000,216.500000,209.720001,211.009995,44045100,2.558305
2020-11-11 00:00:00-05:00,212.389999,218.039993,212.199997,216.550003,29440800,-0.515225

In [19]:
list_df_test[0]

,Open,High,Low,Close,Volume,percentual_change
Date,,,,,,
2020-01-30 00:00:00-05:00,174.050003,174.050003,170.789993,172.779999,51597500,-1.497975
2020-01-31 00:00:00-05:00,172.210007,172.399994,169.580002,170.229996,36142700,2.379865
2020-02-03 00:00:00-05:00,170.429993,174.500000,170.399994,174.380005,30107000,3.186759
2020-02-04 00:00:00-05:00,177.139999,180.639999,176.309998,180.119995,36433300,-0.122291
2020-02-05 00:00:00-05:00,184.029999,184.199997,178.410004,179.899994,39186300,2.031264
...,...,...,...,...,...,...
2020-11-05 00:00:00-05:00,222.039993,224.119995,221.149994,223.289993,36080100,0.192208
2020-11-06 00:00:00-05:00,222.259995,224.360001,218.029999,223.720001,25231900,-2.440589
2020-11-09 00:00:00-05:00,224.440002,228.119995,217.880005,218.389999,44395000,-3.497467
2020-11-10 00:00:00-05:00,214.500000,216.500000,209.720001,211.009995,44045100,2.558305
2020-11-11 00:00:00-05:00,212.389999,218.039993,212.199997,216.550003,29440800,-0.515225

In [24]:
#Create x and Y
y = df['percentual_change']
X = df[['Open', 'High', 'Low', 'Close', 'Volume']]

In [25]:
#create list to append our split data
list_df_train = []
list_df_test = []

for index_train, index_test in ts.split(df):
    X_train, y_train = X.iloc[index_train], y.iloc[index_train]
    X_test, y_test = X.iloc[index_test], y.iloc[index_test]

In [26]:
model_dt = DecisionTreeRegressor(max_depth=15, random_state=42)
model_dt.fit(X_train, y_train)

y_pred = model_dt.predict(X_test)
error_mse = mean_squared_error(y_test, y_pred) #compare predictions with test data values
error_mse

4.6267615975663485

In [29]:
#Loop to train in all the data based in our 5 splits using walk forvard validation
model_dt = DecisionTreeRegressor(max_depth=15, random_state=42)

error_mse_list = []

for index_train, index_test in ts.split(df):
    X_train, y_train = X.iloc[index_train], y.iloc[index_train]
    X_test, y_test = X.iloc[index_test], y.iloc[index_test]

    model_dt.fit(X_train, y_train)
    
    y_pred = model_dt.predict(X_test)
    error_mse = mean_squared_error(y_test, y_pred)
    
    error_mse_list.append(error_mse)

In [30]:
error_mse_list

[15.201422018982012,
 36.00861670152313,
 7.48274329911178,
 5.738207932106447,
 4.6267615975663485]

In [ ]:
print("Av"np.mean(error_mse_list)